@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --size: 20vmin;
}

.circle_container {
    -webkit-clip-path: circle(180px);
    clip-path: circle(var(--size));
}

.circle_container:hover {
    -webkit-clip-path: circle(100%);
    clip-path: circle(100%);
}

.projImg {}