@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --default-bg:
        linear-gradient(322deg, #ba4aff, rgba(186, 74, 255, 0) 70%),
        linear-gradient(178deg, #008aff, rgba(0, 138, 255, 0) 70%),
        linear-gradient(24deg, #00ffc6, rgba(0, 255, 198, 0) 35%),
        linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
}

body {
    overflow-x: hidden;
}

.proj {
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 4rem;
}

.projbox {

    cursor: pointer;
    border-radius: 0.375rem;
    border: 2px solid black;
}


.projpic {
    width: 16rem;
    height: 12rem;
    overflow: hidden;
    border-radius: 0.375rem 0.375rem 0 0;
}

.projpic>img {
    border-radius: 0.375rem 0.375rem 0 0;
}

@media only screen and (min-width: 768px) {
    .projpic {
        width: 20rem;
        height: 16rem;
    }
}

.projpic:hover {
    padding: 0.25rem;
}

.projName {
    font-size: 1.25rem;
    padding: 0.25rem 1rem;
    color: rgba(0, 0, 0, 0.9);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projName::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    clip-path: circle(0% at 50% 50%);
    transition: clip-path 400ms ease-out;
    background: var(--default-bg);
    z-index: -1;
}

.projName:hover::before {
    clip-path: circle(50% at 50% 50%);
}

.projName:active::before {
    clip-path: circle(100% at 50% 50%);
}

.projLink {
    text-decoration: underline;
}

.projbg {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(19 78 74 / 0.8);
    transition: all;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    z-index: 20;
}

.projbgpics {
    margin-top: 6rem;
    width: fit-content;
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
}

.slidepic {
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}

.slidearrows {
    display: flex;
    justify-content: space-evenly;
}

.prev,
.next {
    cursor: pointer;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    border-radius: 3px 0 0 3px;
}

@keyframes scale-pic {
    0% {
        opacity: 0;
        transform: scale(0);
        -webkit-transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}

@keyframes scale-pic--reversed {
    0% {
        opacity: 1;
        transform: scale(1);
        -webkit-transform: scale(1);
    }

    99% {
        opacity: 0;
        transform: scale(0);
        -webkit-transform: scale(0);
    }

    100% {
        opacity: 0;
        transform: scale(0);
        -webkit-transform: scale(0);
    }
}

#abc {
    touch-action: none;
    z-index: 50;
}